@import url(/css/home.css);


#favorite-fact{
font-size: 1rem;
}

.main-favorites {
    margin-top: 1rem;
    padding-bottom: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 140px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto; /* Habilita el desplazamiento vertical dentro del main */
  }
  
  .main-favorites::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra de desplazamiento según tus necesidades */
  }
  
  .main-favorites::-webkit-scrollbar-thumb {
    background-color: lightgrey; /* Ajusta el color del pulgar de la barra de desplazamiento según tus necesidades */
    border-radius: 2px; /* Ajusta el radio de borde del pulgar de la barra de desplazamiento según tus necesidades */
  }

  .favorites-container {
    min-height: 100px; /* Ajusta la altura mínima según tus necesidades */
    margin-bottom: 80px; /* Ajusta el margen inferior según tus necesidades */
  }


p{
    font-size: 1rem;
    padding: 2rem;
    border: solid var(--dark-purple) 1px;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 1rem;
}