

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    text-align: center;
    width: 100vw;
    min-height: 100%;
}
header,footer{
    padding: 3vw;
    background-color: var(--dark-purple);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#my-favorites{
    background-color: var(--dark-purple);
    border: solid white 1px;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1vw;


}



a{
    
    text-decoration: none;
    color: var(--withe);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

main{
    
    width: 100%;
    height: auto;
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  
    
    
}

h1{
    font-size: 2.5rem;
}
#curious-fact{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1.5rem 0;
    border: none;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    }
    
    section{
        margin: auto;
    }

#new-fact{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    background-color: var(--dark-purple);
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    color: var(--withe);
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}


#add-favorite{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var();
    background-color: var(--bg-color);
    border: solid var(--dark-purple) 1px;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#add-favorite:hover {
    background-color: #e0e0fb;
    border: none;
}


.logo{
    width: 15vw;
}

.icon-header, .icon-main{
    width: 1rem;
}


footer{
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--withe);
    
}

.copyright{
    font-size: 0.8rem;
    border: none;
}


@media only screen and (max-width: 600px) {
    header, footer{
        height: 40wh;
        padding: 1.5rem;
    }

    .logo{
        margin-top: 0.4rem;
        width: 35vw;
    }

    main{
        padding: 2.5rem 0 0;
        height: 70vh;

        
    }

    .buttons{
        flex-direction: column;
        width: 100%;

    }
    h1{
       font-size: 2.3rem; 
    }
    p{
        font-size: 1.3rem;
        padding: 0 1rem;
    
    }
}